body {
  background-color: #f5f5f5;
  font-family: sans-serif;
}

.logo {
  font-family: 'Cinzel', serif;
}

.logo-section {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  background-color: #596D48;
  color: white;
}

input:invalid {
  border: 1px solid red;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 0 0 3px blue;
}

